@font-face {
  font-family: 'Switzer';
  src: url('../webfonts/switzer/Switzer-Medium.woff2') format('woff2'),
  url('../webfonts/switzer/Switzer-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('../webfonts/switzer/Switzer-Semibold.woff2') format('woff2'),
  url('../webfonts/switzer/Switzer-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('../webfonts/switzer/Switzer-Regular.woff2') format('woff2'),
  url('../webfonts/switzer/Switzer-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}